body{
    --portocaliu:#F5A127;
    --rosu:#F53E00;
    --verde:#CBFF2D;
    --albastru:#0CD0FF;
    --port-rosu:#F57F27;
    --port-deschis:#F5BA27;
    --port-galben:#F5D327;
    --crem:#F5C379;
    --spatiere: 100px;
    padding-left: var(--spatiere);
    padding-right: var(--spatiere);


}


p{
    color:var(--rosu);
}

h2{
    border-block: 4px solid var(--crem);
}