/* Task schema cromatica*/
body {
  /*background-image: url('/resurse/imagini/Games_4_Everyone.jpg');*/
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center; 
  --portocaliu: #fb9804;
  --rosu: #F53E00;
  --verde: #CBFF2D;
  --albastru: #0CD0FF;
  --port-rosu: #E0512F;
  --port-deschis: #E0B302;
  --port-galben: #F5D327;
  --crem: #f3aa35;
  --spatiere: 100px;
  padding-left: var(--spatiere);
  padding-right: var(--spatiere);
  --culoare-deschisa: #E0B302;
  --culoare-inchisa: #F53E00;
  --culoare_grid:white;
}
/* Task schema cromatica*/
body.dark {
  /*background-image: url('/resurse/imagini/Games_4_Everyone_Dark.jpg');*/
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center; 
  --portocaliu: black;
  --rosu: magenta;
  --verde: gray;
  --albastru: black;
  --port-rosu: gray;
  --port-deschis: gray;
  --port-galben: black;
  --crem: gray;
  --spatiere: 100px;
  padding-left: var(--spatiere);
  padding-right: var(--spatiere);
  --culoare-deschisa: black;
  --culoare-inchisa: #F53E00;
  --culoare_grid: rgb(44, 0, 80);
}
/* Task schema cromatica - Tema Deschisă */
body.light {
  --portocaliu: orange;
  --rosu: red;
  --verde: green;
  --albastru: blue;
  --port-rosu: pink;
  --port-deschis: lightgray;
  --port-galben: yellow;
  --crem: beige;
  --spatiere: 100px;
  padding-left: var(--spatiere);
  padding-right: var(--spatiere);
  --culoare-deschisa: white;
  --culoare-inchisa: black;
  --culoare_grid:rgb(0, 170, 255);
}
/* Task schema cromatica - Tema Neutră */
body.neutral {
  --portocaliu: peru;
  --rosu: brown;
  --verde: olive;
  --albastru: slategray;
  --port-rosu: lightcoral;
  --port-deschis: gainsboro;
  --port-galben: khaki;
  --crem: lightgoldenrodyellow;
  --spatiere: 100px;
  padding-left: var(--spatiere);
  padding-right: var(--spatiere);
  --culoare-deschisa: ivory;
  --culoare-inchisa: dimgray;
  --culoare_grid:rgb(128, 128, 128);
}
/*link-top*/
#link-top{
  position:fixed;
  bottom:0.3em;
  opacity:0.3;
  left:0.3em;
  width:3rem;
  box-sizing: border-box;
  height:3rem;
  line-height:3rem;
  text-align:center;
  border:5px solid #F57F27;
    border-top-color:transparent;
    border-bottom-color: transparent;
  border-radius:50%;
  background: transparent;/*#F5C379;*/

}
#link-top:hover{
  opacity:1;
}
#triunghi{
  height:0px;
  width:0;
  display:inline-block;
  border-bottom:0.8rem solid #F5A127;
  border-left:0.6rem solid transparent;
  border-right:0.6rem solid transparent;
  vertical-align: center;
  transform: translatey(30%);
  transform: scale(1,1);
  transition:transform 0.3s linear, border-bottom 0.3s linear;
}
#link-top:hover>#triunghi{
  transform: translatey(-80%);
  border-bottom:0.8rem solid #F53E00;

}
/*link-top*/
/*stilizare-taburi*/
.container-iframe {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.container-iframe iframe{
  width: 100%;
}
.taburi-iframe{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.taburi-iframe>a{
  display: block;
  border: 1px solid var(--rosu);
  background-color: var(--crem);
  box-shadow: 0 0 10px rgba(224,81,47, 0.7);
  margin: 0 10px; 
  padding: 0.6cm;
  transition: background-color 2s ease; 
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
  height: 20px;
  line-height: 10px;
}
.taburi-iframe>a:last-child{
  margin-bottom: 0;
}
.taburi-iframe>a:hover{

  background-color: var(--rosu);
}
/*stilizare-taburi*/
/*stilizare-tabel*/
#tab-orar th,#tab-orar td{
  border: 1px solid black;
  padding: 8px;

}
#tab-orar {
  font-size: 12px; 
  margin-bottom: 20px;
  border-spacing: 5px; 
  border: 5px solid black;
  border-collapse: collapse;
}


#tab-orar tr:nth-child(odd) td {
  border-bottom-color: var(--rosu);
}

#tab-orar tr:nth-child(even) td {
  border-bottom-color: var(--verde);
}

#tab-orar tr {
  transition: background-color 0.5s ease;
}

#tab-orar tr:hover {
  background-color: var(--port-rosu);
}


#tab-orar tr { transition: outline 0.5s ease; 
  outline: 0;
}

#tab-orar tr:hover {
  outline: 7px solid rgba(0, 0, 0, 0.7); 
}
.table-container {
  overflow-x: auto;
  max-width: 100%;
}
/*stilizare-tabel*/

video {
  display: block;
  margin: 0 auto;
}

track {
  background-image: linear-gradient(to bottom, #333, #666); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

::cue {
  white-space: pre-line;
}

#efect-css-stilizare-hr {
  position: relative;
  height: 20px;
  margin: 20px 0;
  border: none;
  background: linear-gradient(to right, var(--culoare-deschisa) 10%, var(--culoare-deschisa) 70%);
}

#efect-css-stilizare-hr::before {
  content:"﹡"; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  font-size: 34px; 
  color: var(--culoare); 
  background-color: white;
  border-radius: 50%; 
  padding: 5px;
}

#imagine {
  position: relative;
  background-image: url("../imagini/5e67a86db6f40796571744.jpg");
  background-size: cover;
  width: 300px;
  height: 300px;
  filter: brightness(100%) grayscale(0);
  transition: filter 2s linear; 
  overflow: hidden; 
}

#imagine:after,
#imagine:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  transition: all 2s linear; 
  opacity: 0; 
}

#imagine:hover:after {
  left: 0;
  opacity: 1;
}

#imagine:hover:before {
  right: 0;
  opacity: 1;
}

#imagine:after {
  background-color: rgb(0,0,255);
  mix-blend-mode: lighten;
  left: -100%;
}

#imagine:before {
  background-color: rgb(205,0,255);
  mix-blend-mode: lighten;
  right: -100%;
}


#text, #text-reflectat {
  width: 300px;
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
}

#text {
  position: relative;
  z-index: 1;
}

#text-reflectat {
  width: 300px;
  top: 0;
  transform-origin: 0 0;
  transform: rotateX(180deg) skew(-45deg) scaleY(0.5) translate(10px,-100px);
  opacity: 0.55;
  filter: blur(2px);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

#text:hover + #text-reflectat {
  width: 300px;
  transform-origin: 0 0;
  transform: rotateX(180deg) skew(-45deg) scaleY(1) translate(10px, -100px);
  opacity: 0.7; 
}
/*animatie-banner*/
#banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 25vw;
  height: 25vw; 
  background-color: var(--portocaliu);
  opacity: 0;
  transform: scale(0);
  transform-origin: bottom left;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: none; 
}

#banner p {
  font-size: 1vw;
}

@keyframes showBanner {
  0% {
      opacity: 0;
      transform: scale(0);
      background-color: var(--portocaliu)l;
  }
  100% {
      opacity: 0.75;
      transform: scale(1);
      background-color: var(--portocaliu);
  }
}

@media (max-width: 1200px) {
  #banner {
    opacity: 1;
    transform: scale(1);
  }
}

@media (min-width: 1201px) {
  #banner{
      animation: showBanner 5s forwards; /* Definește animația */
  }
}


/*animatie-banner*/