nav{
    --inaltime-meniu:2.2em;
    --latime-buton:120px;
    height: var(--inaltime-meniu);
    background-color: var(--culoare-deschisa);
}
#acasa-mediu{
    display: block;
}
#acasa{
    display: none;
}