<footer href="#" id="footer">
    <address>
        <i class="fa-solid fa-phone fa-shake"></i><a href="tel:+123456789">Telefon: +123 456 789</a>
        <i class="fa-solid fa-earth-americas fa-bounce"></i><a href="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica" target="_blank">Adresă: Facultatea de Matematica si Informatica</a>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d729314.8750569086!2d24.880084991455078!3d44.43549589232455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1710142491974!5m2!1sro!2sro" width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <i class="fa-solid fa-envelope"></i><a href="mailto:contact@domeniu.com">E-mail: contact@domeniu.com</a>
        <i class="fa-brands fa-whatsapp fa-shake"></i></i><a href="https://wa.me/123456789" target="_blank">WhatsApp: +123 456 789</a>
    </address>
            <a id="link-stilizat" href="http://www.google.com" target="_blank">Ceva</a>

        <!-- Link către începutul paginii -->
        <span title="SUS"><a href="#" id="link-top"><div id="triunghi"><span title="SUS"></span></div></a></span>

        <a href="resurse/imagini/Best.jpg" download="Best.img">Descarca imaginea</a>
        <div id="watermark">Preda<br>Cristian </div>
        <p><small>Copyright &copy; <time datetime = "2012-10-10"></time></small></p>
</footer>