@keyframes bar-animation {
  0% {
    transform: translateY(0) scaleX(1);
  }
  50% {
    transform: translateY(-6px) scaleX(1.3);
  }
  100% {
    transform: translateY(-10px) scaleX(1);
  }
}
.animated-bar1 {
  animation: bar-animation 0.3s ease 300ms;
}

.animated-bar2 {
  animation: bar-animation 0.3s ease 600ms;
}

.animated-bar3 {
  animation: bar-animation 0.3s ease 900ms;
}

@keyframes appearMenuIcon {
  0% {
    background-color: transparent;
    transform: translateY(-10px) rotate(0deg);
    opacity: 0;
  }
  50% {
    background-color: #fff;
    transform: translateY(0) rotate(1805deg);
    opacity: 0.5;
  }
  100% {
    background-color: #fff;
    transform: translateY(0) rotate(180deg);
    opacity: 1;
  }
}
#hamburger div {
  animation: appearMenuIcon 2s ease forwards;
}