.zigzag-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.imag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imag:nth-child(10n+1) {
  grid-column-start: 1;
  grid-row-start: 1;
}

.imag:nth-child(1) {
  grid-column-start: 1;
  grid-row-start: 1;
}

.imag:nth-child(10n+2) {
  grid-column-start: 2;
  grid-row-start: 1;
}

.imag:nth-child(2) {
  grid-column-start: 4;
  grid-row-start: 1;
}

.imag:nth-child(10n+3) {
  grid-column-start: 3;
  grid-row-start: 1;
}

.imag:nth-child(3) {
  grid-column-start: 4;
  grid-row-start: 1;
}

.imag:nth-child(10n+4) {
  grid-column-start: 4;
  grid-row-start: 1;
}

.imag:nth-child(4) {
  grid-column-start: 4;
  grid-row-start: 1;
}

.imag:nth-child(10n+5) {
  grid-column-start: 1;
  grid-row-start: 2;
}

.imag:nth-child(5) {
  grid-column-start: 4;
  grid-row-start: 1;
}

.imag:nth-child(10n+6) {
  grid-column-start: 2;
  grid-row-start: 2;
}

.imag:nth-child(6) {
  grid-column-start: 4;
  grid-row-start: 1;
}

.imag:nth-child(10n+7) {
  grid-column-start: 3;
  grid-row-start: 2;
}

.imag:nth-child(7) {
  grid-column-start: 4;
  grid-row-start: 1;
}

.imag:nth-child(10n+8) {
  grid-column-start: 4;
  grid-row-start: 2;
}

.imag:nth-child(8) {
  grid-column-start: 4;
  grid-row-start: 1;
}

.imag:nth-child(10n+9) {
  grid-column-start: 1;
  grid-row-start: 3;
}

.imag:nth-child(9) {
  grid-column-start: 4;
  grid-row-start: 1;
}

.imag:nth-child(10n+10) {
  grid-column-start: 2;
  grid-row-start: 3;
}

.imag:nth-child(10) {
  grid-column-start: 4;
  grid-row-start: 1;
}

#grid-galerie figure {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
}

#grid-galerie img {
  width: 100%;
  height: auto;
  filter: brightness(50%);
}

#grid-galerie > * {
  padding: 0;
}

#grid-galerie figure:hover img {
  filter: brightness(100%);
  transition: 1.2s;
}

#grid-galerie figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  transition: background-color 1.2s ease, color 1.2s ease;
}

#grid-galerie figure:hover figcaption {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

@media screen and (max-width: 1200px) {
  #grid-galerie {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 900px) {
  #grid-galerie {
    grid-template-columns: 1fr;
  }
}